<% name = 'mailinglists' %>
<% title = 'OpenMRS ID - Mailing Lists' %>
<% headline = 'Mailing Lists' %>
<% headAppend = '<link rel="stylesheet" href="/mailinglists/resource/mailinglists.css">' %>

<div class="col-md-8">
  <p>
  The OpenMRS community maintains several mailing lists for announcements and communication.
  <br>
  Select the lists that sound interesting to you. You can always change your preferences later.
  </p>
	<% for (i in groups) { if (groups[i].visible == true) { %>
    <% include mailinglistwidget %>
  <% } } %>
</div>
<div class="col-md-4">
  <% include sidebar %>
</div>